.active{
    color: rgb(31, 102, 245);
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: 2px solid rgb(31, 102, 245);
}

.deActive{
    color: gray;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0rem .5rem;
}

.btnActive{
    background-color: #2560fb;
    font-size: 1rem;
    font-weight: 500;
    padding: .4rem .7rem;
    color: rgb(255, 255, 255);
    border-radius: .4rem;
}
.btnDeActive{
    background-color: #232834;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    padding: .4rem .7rem;
    border-radius: .4rem;

}
@media only screen and (max-width: 767px){
    .login-singup-box{
        display: flex;
        margin-right: 1rem;
    }
 	.active{
        display: block;
        border-bottom: 2px solid rgb(0, 0, 0, 0.1);
    }
    .deActive{
        display: block;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }
    .linkBox{
        margin: .5rem;
    }
}