@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
 .fontCss{
    font-family: 'Pacifico', cursive;
 }

 @media only screen and (max-width: 767px){
	.homeText{
      width: 50%;
   }
   .homeImage{
      width: 50%;
   }
}
 @media only screen and (max-width: 410px){
   .homeText{
      width: 30%;
   }
   .homeText h2{
      margin-left: 0px;
      font-size: 1rem;
   }
   .homeImage{
      width: 70%;
   }
   .homeBtn{
      font-size: .7rem;
      width: 5.5rem;
      margin-left: 0px;
   }
}
@media only screen and (min-width: 768px){
   .homeImage{
      width: 610px;
   }
   .homeBtn{
      margin-left: 4rem;
   }
}
@media only screen and (min-width: 800px){
   .homeImage{
      margin-left: -8rem;
   }
}
@media only screen and (min-width: 960px){
   .homeImage{
      margin-left: -5rem;
   }
}
@media only screen and (min-width: 1060px){
   .homeImage{
      margin-left: 0rem;
   }
}